@mixin formInputsWidth {
    width: 30vw;
}

.login-form {
    span[role="alert"] {
        margin-bottom: 20px;
        line-height: 2vh;
        font-size: 2vh;
        color: rgb(var(--red-200));

        @include formInputsWidth;
        overflow-wrap: break-word;
        white-space: normal;
    }

    [aria-invalid=true] {
        color: rgb(var(--white));
        background-color: rgb(var(--red-200));

        &::placeholder {
            color: rgb(var(--white));
        }
    }

    .themeToggle__label {
        color: rgb(var(--black-700));
    }

    &__buttons {
        display: flex;
        justify-content: center;
        margin-top: 5vh;

        .button {
            width: 10vw;
        }
    }

    &__text-inputs-block {
        display: flex;
        flex-direction: column;
        height: 20vh;

        input {
            @include formInputsWidth;
            height: 5vh;
            font-size: 3vh;
            margin-bottom: 20px;
        }
    }
}

.formWrapper {
    display: flex;
    justify-content: center;
}