main .test-section {
    background: center / cover no-repeat url(../../../resources/img/marvelPrev.jpg);

    .app__container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

.testForm {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    padding: 40px;
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid black;

    [aria-invalid='true'] {
        border-color: red;

        // &:focus, &:focus-visible {
        //     border-color: red;
        //     outline: red auto 1px;
        //     border-width: 1px;
        // }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        width: 100%;
        height: 200px;

        & > * {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
            margin: 5px;
        }
    }
}