:root {
    --black-200: 92 92 92; /* gray */
    --black-600: 61 59 59;
    --black-999: 0 0 0;
    --black-700: 35 34 34; /* dark*/

    // gray
    --gray-100: 160 160 160;
    
    --red-200: 237 109 109;
    --red-500: 159 0 19; /* main color */
    
    --white: 256 256 256;
}