@import '../../style/variables.scss';

.app {
    &__header.mainHeader {
        background-color: rgb(var((--main-header-background)));

        .app__container {
            margin: 0 auto;
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .mainHeader__bottomRow {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
    
            .mainHeader__topRow {
                display: flex;
                justify-content: end;              
            }
        }    
    }
    &__title {
        color: rgb(var((--main-header-text-secondary)));
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        span {
            color: rgb(var((--main-header-text-primary)));
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            li {
                color: rgb(var((--main-header-text-secondary)));
                margin: 0 8px;
                a:hover {
                    color: rgb(var((--main-header-text-hover)));
                }

                a.active {
                    color: rgb(var((--main-header-text-primary)));
                }
            }
        }
    }
}

// 768 - 1
@media (360px <= width <= 767px) {
    .app_header.mainHeader {
        width: 360px;
        flex-direction: column;
    }
}

@media (767px <= width <= 1100px) {
    .app_header.mainHeader {
        width: 767px;
        flex-direction: column;
    }
}