@import '../../style/variables.scss';

.app {
    &__header {
        .mainHeader {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            &__bottomRow {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
            }
    
            // &__topRow {
            //     // float: right;                
            // }
        }
    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 37px;
        span {
            color: $main-color;
        }
    }
    &__menu {
        ul {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            li {
                margin: 0 8px;
                a:hover {
                    color: $main-color;
                }

                a.active {
                    color: $main-color;
                }
            }
        }
    }
}

// 768 - 1
@media (360px <= width <= 767px) {
    .app_header.app-container {
        width: 360px;
        flex-direction: column;
    }
}

@media (767px <= width <= 1100px) {
    .app_header.app-container {
        width: 767px;
        flex-direction: column;
    }
}