section.third-section {
    min-height: 600px;
    background-color: rgb(var(--white));

    .third-section {
        &__title {
            color: rgb(var(--red-200));
        }

        &__text-block {
            color: rgb(var(--black-700));
        }
    }
}