footer.app-footer {
    background-color: rgb(var(--main-footer-background));

    flex: 0 0 auto;

    .app-footer {
        &__title {
            color: rgb(var(--main-footer-text-primary));
        }
    }
}